@import '../../styles/variables.scss';

.transactions {
  padding: 48px;
}

.transactionsLayout {
  width: 100%;
  margin-top: 25px;
}

.transactionTable {
  width: 100%;
  tbody {
    font-family: 'RobotoMono-Regular';
    font-size: 14px;
    letter-spacing: 2px;
  }
  th {
    border-bottom: 1px solid $color-input-border;
    &:first-child {
      text-align: left;
    }
  }
  th + th {
    text-align: right;
    padding: 0 20px;
  }

  tr + tr {
    td {
      border-top: 1px solid #19172a;
      border-top: 1px solid $color-input-border;
    }
  }
  td {
    padding: 10px 20px;
  }
  td + td {
    text-align: right;
  }
}

.transactionTableSynth {
  font-family: 'Aeonik-Bold';
  font-size: 16px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  img {
    margin-right: 8px;
    width: 35px;
    height: 35px;
  }
}

.transactionPair {
  display: flex;
  align-items: center;
  margin-left: 10px;
  &:first-child {
    margin-right: 10px;
    margin-left: 0;
  }
}

.transactionLink {
  background-color: $color-background;
  font-family: 'RobotoMono-Regular';
  letter-spacing: 1px;
  font-size: 10px;
  color: #ffffff;
  border: 1px solid $color-border;
  border-radius: 4px;
  padding: 12px 15px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: #fff;
    color: $color-background;
    border: 1px solid #ffffff;
  }
}

.headingWrapper {
  display: flex;
  align-items: center;
  button {
    cursor: pointer;
    background-color: $color-background;
    width: 135px;
    font-family: 'RobotoMono-Regular';
    margin-left: 20px;
    letter-spacing: 1px;
    font-size: 10px;
    color: #ffffff;
    border: 1px solid $color-border;
    border-radius: 4px;
    padding: 12px;
    text-transform: uppercase;
    &:hover {
      background-color: #fff;
      color: $color-background;
      border: 1px solid #ffffff;
    }
  }
}

.transactionLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
