@import '../../styles/variables.scss';

.gweiSelectorWrapper {
  margin: 30px 0;
}

.gweiSelectorRow {
  display: flex;
  justify-content: space-between;
}

.gweiSelector {
  cursor: pointer;
  text-transform: capitalize;
  flex: 1;
  border-bottom: 2px solid $color-input-border;
  font-size: 14px;
  padding-bottom: 10px;
  &:hover {
    border-color: #ffffff;
  }
  &.selected {
    &:nth-child(1) {
      border-color: $color-red;
    }
    &:nth-child(2) {
      border-color: $color-yellow;
    }
    &:nth-child(3) {
      border-color: $color-green;
    }
  }
}

.gweiSelectorPrice {
  font-size: 14px;
  font-family: 'RobotoMono-Regular';
  margin-top: 5px;
  color: $color-font-grey;
  text-transform: none;
}

.gweiSelectorHeading {
  margin: 10px 0;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  font-family: 'RobotoMono-Regular';
  display: flex;
}

.gweiSelectorHeadingMaxLimit {
  margin-left: 10px;
  span {
    text-decoration: underline;
  }
}
