{
	"presets": ["react-app"],
	"plugins": [
		[
			"babel-plugin-styled-components",
			{
				"ssr": false
			}
		],
		"react-hot-loader/babel",
		[
			"module-resolver",
			{
				"alias": {
					"src": "./src"
				}
			}
		]
	]
}
