{
	"extends": ["react-app"],
	"plugins": ["prettier"],
	"rules": {
		"import-first": 0,
		"prettier/prettier": "error",
		"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
		"comma-dangle": [
			"error",
			{
				"arrays": "always-multiline",
				"objects": "always-multiline",
				"imports": "always-multiline",
				"exports": "always-multiline",
				"functions": "never"
			}
		]
	},
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	}
}
