@import '../../styles/variables.scss';

.connectToWallet {
  margin-top: 50px;
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 60px;
    font-family: 'RobotoMono-Regular';
    color: $color-font-grey;
  }
}

.connectToWalletHelp {
  margin-top: 40px;
  a {
    font-family: 'Aeonik-Regular';
    border: 1px solid $color-input-border;
    border-radius: 24px;
    background: transparent;
    color: #ffffff;
    padding: 13px 27px;
    font-size: 16px;
    text-decoration: none;
  }
}

.connectToWalletHelpCaption {
  font-family: 'RobotoMono-Regular';
  margin: 25px 0;
  color: $color-font-grey;
}
