@import '../../styles/variables.scss';

.addressSwitcherWrapper {
  position: relative;
}

.addressSwitcher {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $color-background;
  border: 1px solid $color-input-border;
  height: 50px;
  color: #ffffff;
  padding: 0 20px 0 40px;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  &:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-yellow;
  }
}

.addressSwitcherStatus {
  font-family: 'Aeonik-Bold';
  font-size: 16px;
}

.addressSwitcherWallet {
  margin-left: 10px;
  letter-spacing: 2px;
}

.addressSwitcherIsConnected {
  &:before {
    background-color: $color-green;
  }
}

.addressSwitcherIsCollapsable {
  cursor: pointer;
  &:after {
    content: '';
    background-image: url('/images/angle-down-icon.svg');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    right: 20px;
  }
}

.addressSwitcherIsCollapsed {
  &:after {
    background-image: url('/images/angle-up-icon.svg');
  }
}

.addressDropdown {
  background-color: $color-background;
  border: 1px solid $color-input-border;
  position: absolute;
  top: 60px;
  right: 0;
  font-family: 'RobotoMono-Regular';
  letter-spacing: 2px;
  z-index: 100;
}

.addressDropdownElement {
  color: $color-font-grey;
  margin-top: 2px;
  cursor: pointer;
  &:hover {
    color: #ffffff;
  }
}

.addressDropdownBody {
  padding: 20px;
}

.addressDropdownFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  height: 55px;
  padding: 10px 20px;
  border-top: 1px solid $color-input-border;
}

.addressDropdownFooterIcon {
  cursor: pointer;
  fill: $color-font-grey;
  &:hover {
    fill: #ffffff;
  }
}
