@import '../../styles/variables.scss';

.transactionStatusPopup {
  width: 580px;
  display: flex;
  padding: 50px 100px;
  justify-content: center;
}

.explanationParagraph {
  color: $color-font-grey;
  font-size: 16px;
}

.transactionPair {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: 0 20px;
  }
}

.conversionAmount {
  font-family: 'RobotoMono-Regular';
  font-size: 24px;
  letter-spacing: 1px;
}

.conversionAmountSynth {
  color: $color-font-grey;
  margin-left: 10px;
}

.buttonVerifyTransaction {
  margin-top: 20px;
  height: 50px;
  border-radius: 4px;
  background-color: $color-light-blue;
  color: #ffffff;
  width: 100%;
  border: 0;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.errorDescription {
  font-family: 'Aeonik-Regular';
  color: $color-font-grey;
  font-size: 16px;
}

.feeRow {
  display: flex;
  justify-content: space-between;
}

.feeRowHeading {
  color: $color-font-grey;
}

.feeRowValue {
  font-family: 'RobotoMono-Regular';
}

.walletLogo {
  width: 120px;
}
