@import '../../styles/variables.scss';

.balanceCheckerHeading {
  text-align: left;
  margin-top: 0;
}

.table {
  width: 100%;
}

.tableHeading {
  margin: 0 0 10px 0;
  text-align: left;
}

.tableBodyRow {
  font-family: 'Aeonik-Bold';
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #2e324145;
  }
}

.tableBodyRowActive {
  background-color: #2e32417d;
}

.tableBodySynth {
  display: flex;
  padding: 15px;
  img {
    margin-right: 12px;
  }
}

.tableBodyBalance {
  padding: 15px;
  text-align: right;
}

.widgetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    margin: 0;
  }
}

.widgetHeaderButton {
  cursor: pointer;
  background-color: $color-background;
  font-family: 'RobotoMono-Regular';
  letter-spacing: 1px;
  font-size: 10px;
  color: #ffffff;
  border: 1px solid $color-border;
  border-radius: 4px;
  padding: 12px 15px;
  text-transform: uppercase;
  &:hover {
    background-color: #fff;
    color: $color-background;
    border: 1px solid #ffffff;
  }
}
