@import '../../styles/variables.scss';

.select {
  margin-top: 10px;
  background-color: transparent;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  div {
    display: flex;
    justify-content: space-between;
  }
}

.balanceCheckerHeading {
  text-align: left;
  margin-top: 0;
}

.tableWrapper {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
}

.table {
  width: 100%;
}

.tableHeading {
  margin: 10px 0 5px 0;
  text-align: left;
}

.tableBodyRow {
  font-family: 'Aeonik-Bold';
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #2e324145;
  }
}

.tableBodyRowActive {
  background-color: #2e32417d;
}

.tableBodySynthWrapper {
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
  }
}

.tableBodySynth {
  display: flex;
  align-items: center;
  padding: 8px;
  img {
    margin-right: 12px;
    width: 35px;
    height: 35px;
  }
}

.tableBodyButtonRow {
  padding-top: 10px;
  button {
    width: 100%;
    margin-top: 10px;
  }
}

.tableBodyBalance {
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  padding: 8px;
  text-align: right;
}

.widgetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    margin: 0;
  }
}

.totalBalance {
  font-family: 'Aeonik-Bold';
  font-size: 16px;
}

.balanceCheckerButton {
  cursor: pointer;
  background-color: $color-background;
  font-family: 'RobotoMono-Regular';
  letter-spacing: 1px;
  font-size: 10px;
  color: #ffffff;
  border: 1px solid $color-border;
  border-radius: 4px;
  padding: 12px 15px;
  text-transform: uppercase;
  &:hover {
    background-color: #fff;
    color: $color-background;
    border: 1px solid #ffffff;
  }
}

.balanceCheckerAnchor {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.balanceCheckerButtonWhite {
  background-color: $color-background;
  color: #ffffff;
  &:hover {
    color: $color-background;
    background-color: #ffffff;
    border: 1px solid $color-border;
  }
}
