@import '../../styles/variables.scss';

.rateList {
  margin-top: 15px;
  h2 {
    margin: 0;
  }
  table {
    width: 100%;
  }
}

.rateListTable {
  tbody {
    font-family: 'RobotoMono-Regular';
    font-size: 14px;
    letter-spacing: 2px;
  }
  th {
    border-bottom: 1px solid $color-input-border;
    &:first-child {
      text-align: left;
    }
    &.rate {
      text-align: right;
      padding: 0 20px;
    }
  }
  tr {
    cursor: pointer;
    &:hover {
      background-color: #2e324145;
    }
  }
  tr + tr {
    td {
      border-top: 1px solid #19172a;
    }
  }
  td {
    padding: 8px 20px;
    &.rate {
      text-align: right;
    }
  }
}

.tableRowActive {
  background-color: #2e32417d;
}

.tableBodySynth {
  font-family: 'Aeonik-Bold';
  font-size: 16px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  img {
    margin-right: 12px;
    width: 35px;
    height: 35px;
  }
}
