@import '../../styles/variables.scss';

.container {
  border: 1px solid $color-border;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 4px;
}

.container + .container {
  margin-top: 25px;
}

.fullHeight {
  height: 100%;
}
