@import '../../styles/variables.scss';

.testnetPopup {
  padding: 30px 50px 40px 50px;
  h1 {
    margin: 0;
  }
}

.steps {
  text-align: left;
  margin-top: 40px;
  a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Aeonik-Bold';
  }
}

.step + .step {
  margin-top: 20px;
}
