@import '../../styles/variables.scss';

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $color-border;
  padding: 40px;
  background-color: $color-background;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
  box-shadow: 3px 3px 25px 0px rgba(255, 255, 255, 0.16);
}

.popupIsVisible {
  display: block;
}

.popupInner {
  text-align: right;
}

.closeButton {
  border: 1px solid #2c2945;
  border-radius: 4px;
  background-color: darken($color-background, 2%);
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}
