$color-dark-grey: #121022;
$color-background: #0a0817;
$color-light-blue: #234ef5;
$color-font-grey: #4a4762;
$color-input-border: #28253f;
$color-green: #12bf6a;
$color-yellow: #bfad12;
$color-red: #ca4260;
