.spinner {
  padding: 30x 0;
  img {
    animation: imageRotation 2s infinite linear;
  }
}

@keyframes imageRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
