@import '../../styles/variables.scss';

.exchange {
  padding: 48px;
  position: relative;
}

.exchangeLayout {
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: space-between;
}

.exchangeLayoutColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.exchangeLayoutRow {
  display: flex;
  margin-bottom: 5px;
}

.exchangeLayoutColumnSmall {
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exchangeLayoutColumnLeft {
  margin-right: 5px;
}

.exchangeLayoutColumnRight {
  margin-left: 5px;
  height: auto;
}

.chartWrapper {
  flex: 1;
  height: 402px;
  position: relative;
  border: 1px solid $color-border;
  border-radius: 4px;
}

.mask {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: 1;
  border-left: 10px solid $color-background;
  border-right: 10px solid $color-background;
  border-top: 7px solid $color-background;
  border-bottom: 5px solid $color-background;
  border-radius: 4px;
  pointer-events: none;
}
