@import '../../styles/variables.scss';

.synthPickerWrapper {
  margin-top: 20px;
}

.synthPicker {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $color-background;
  border: 1px solid $color-input-border;
  height: 50px;
  color: #ffffff;
  width: 100%;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
}

.synthPickerValue {
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  div {
    display: flex;
    align-items: center;
  }
  img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}

.synthPickerBox {
  background-color: $color-background;
  border: 1px solid $color-input-border;
  border-top: none;
  position: absolute;
  bottom: 0;
  left: calc(100% + 10px);
  font-family: 'RobotoMono-Regular';
  box-shadow: 3px 2px 8px 0px rgba(255, 255, 255, 0.1);
  z-index: 10;
  min-height: 240px;
}

.synthTable {
  width: 400px;
}

.synthTableHeader {
  display: flex;
  button:first-child {
    border-left: none;
  }
  button:last-child {
    border-right: none;
  }
}

.synthTableButton {
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Aeonik-Regular';
  font-size: 14px;
  flex: 1;
  background-color: transparent;
  color: #ffffff;
  height: 40px;
  border-right: 1px solid $color-input-border;
  border-left: none;
  border-top: 1px solid $color-input-border;
  border-bottom: 1px solid $color-input-border;
}

.synthTableButtonIsActive {
  border-top: 1px solid $color-light-blue;
  border-bottom: none;
}

.synthTableBody {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 25px 25px 25px;
}

.synthWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  width: 33%;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

.selectSynthButton {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: $color-light-blue;
  color: #ffffff;
  border: 0;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
