@import '../../styles/variables.scss';

.widget {
  position: relative;
  z-index: 1;
}

.widgetOverlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-background;
  opacity: 0.9;
}

.widgetOverlayMessage {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-transform: uppercase;
}

.widgetIsDisabled {
  pointer-events: none;
}

.widgetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
}

.widgetHeaderButton {
  cursor: pointer;
  background-color: $color-background;
  font-family: 'RobotoMono-Regular';
  letter-spacing: 1px;
  font-size: 11px;
  color: #ffffff;
  border: 1px solid #28253f;
  border-radius: 4px;
  padding: 12px 15px;
  text-transform: uppercase;
  &:hover:not(:disabled) {
    background-color: #fff;
    color: $color-background;
    border: 1px solid #ffffff;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.widgetInputs {
  margin: 15px 0;
}

.widgetInputWrapper + .widgetInputWrapper {
  margin-top: 10px;
}

.widgetInputWrapper {
  position: relative;
}

.widgetInputSynth {
  position: absolute;
  cursor: pointer;
  padding-left: 10px;
  top: 50%;
  width: 80px;
  right: 15px;
  height: 100%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Aeonik-Bold';
  font-size: 14px;
  border-left: 1px solid $color-input-border;
}

.widgetInputSynthBig {
  width: 100px;
}

.widgetInputInner {
  display: flex;
  align-items: center;
}

.inputSynthImage {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.inputOpenDropdownIcon {
  width: 15px;
  margin-left: 10px;
}

.widgetInputElement {
  width: 100%;
  background-color: $color-background;
  border: 1px solid $color-input-border;
  height: 50px;
  color: #ffffff;
  padding: 17px 100px 15px 17px;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  letter-spacing: 2px;
  text-overflow: ellipsis;
}

.widgetInputElementBig {
  padding: 17px 120px 15px 17px;
}

.widgetTradingButton {
  height: 50px;
  border-radius: 4px;
  background-color: $color-light-blue;
  color: #ffffff;
  width: 100%;
  border: 0;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

.pairRateAndBalanceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.pairRate {
  display: flex;
  text-align: left;
  font-family: 'RobotoMono-Regular';
}

.pairRateName {
  margin-right: 30px;
}

.balance {
  display: flex;
}
