@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.beta {
  font-family: 'RobotoMono-Regular';
  font-style: italic;
  color: $color-font-grey;
  font-size: 12px;
  margin-left: 10px;
}
