@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.headerRightArea {
  display: flex;
  button {
    margin-right: 40px;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.beta {
  font-family: 'RobotoMono-Regular';
  font-style: italic;
  color: $color-font-grey;
  font-size: 12px;
  margin: 0 20px 0 10px;
}

.headerButton {
  cursor: pointer;
  border: 1px solid $color-input-border;
  background-color: $color-background;
  color: #ffffff;
  height: 50px;
  font-size: 14px;
  padding: 0 20px;
}

.uppercase {
  text-transform: uppercase;
}
