@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.headerRightArea {
  display: flex;
  button:not(:last-child) {
    margin-right: 40px;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.headerButton {
  width: 155px;
  cursor: pointer;
  border: 1px solid $color-input-border;
  background-color: $color-background;
  color: #ffffff;
  height: 50px;
  font-size: 14px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform ease-in 0.1s;
  &:hover {
    transform: scale(1.05);
  }
}

.headerButtonIcon {
  margin-left: 10px;
}

.envButton {
  margin-left: 20px;
  text-transform: uppercase;
}

.walletConnectorButton {
  height: 50px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: $color-light-blue;
  color: #ffffff;
  border: 0;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonMode {
  border: none;
  font-family: 'RobotoMono-Regular';
  background-color: transparent;
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
  color: #ffffff;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
  }
}
