@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.headerRightArea {
  display: flex;
  button {
    margin-right: 40px;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.headerButton {
  width: 155px;
  cursor: pointer;
  border: 1px solid $color-input-border;
  background-color: $color-background;
  color: #ffffff;
  height: 50px;
  font-size: 14px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform ease-in 0.1s;
  &:hover {
    transform: scale(1.05);
  }
}

.headerButtonIcon {
  margin-left: 10px;
}

.envButton {
  margin-left: 20px;
  text-transform: uppercase;
}
