@import '../../styles/variables.scss';

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.button {
  width: 500px;
  height: 145px;
  margin-top: 20px;
  padding: 0 40px;
  border: 1px solid $color-border;
  border-radius: 4px;
  background-color: $color-background;
  color: white;
  cursor: pointer;
  transition: transform ease-in 0.1s;
  &:hover {
    transform: scale(1.05);
  }
  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.buttonInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walletDescription {
  text-align: left;
  margin-left: 40px;
}

.walletDescriptionHeading {
  font-family: 'Aeonik-Bold';
  font-size: 20px;
  margin-bottom: 5px;
}

.walletDescriptionText {
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  color: $color-font-grey;
}
