.overlay {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color ease-in 0.1s;
}

.overlayIsVisible {
  background-color: rgba(0, 0, 0, 0.5);
}
