@import '../../styles//variables.scss';

.feedbackPopup {
  width: 580px;
}

.feedbackForm {
  margin-top: 40px;
}

.formSection {
  h2 {
    text-align: left;
    font-size: 16px;
    font-family: 'Aeonik-Light';
  }
  margin-bottom: 20px;
}
.formTextArea {
  background-color: $color-background;
  border: 1px solid $color-border;
  width: 100%;
  height: 80px;
  color: #ffffff;
  font-family: 'Aeonik-Light';
  font-size: 14px;
}

.formButton {
  height: 50px;
  border-radius: 4px;
  background-color: $color-light-blue;
  color: #ffffff;
  width: 100%;
  border: 0;
  font-family: 'RobotoMono-Regular';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform ease-in 0.1s;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

.ratingStarRow {
  display: flex;
  justify-content: center;
}

.ratingStar {
  cursor: pointer;
  margin: 10px 20px;
  width: 50px;
  height: 50px;
  background: url('/images/star-empty-icon.svg');
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.ratingStarFull {
  background: url('/images/star-full-icon.svg');
  background-size: 50px 50px;
}
