body {
  margin: 0;
  padding: 0;
  font-family: 'Aeonik-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131722;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('/fonts/Aeonik-Bold.eot');
  src: url('/fonts/Aeonik-Bold.woff2') format('woff2'),
    url('/fonts/Aeonik-Bold.woff') format('woff'),
    url('/fonts/Aeonik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url('/fonts/Aeonik-Regular.eot');
  src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
    url('/fonts/Aeonik-Regular.woff') format('woff'),
    url('/fonts/Aeonik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/fonts/RobotoMono-Regular.ttf');
}

h2 {
  font-family: 'Aeonik-Bold';
  color: #ffffff;
  font-size: 20px;
}

h3 {
  font-family: 'RobotoMono-Regular';
  color: #4a4762;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
