.loadingScreen {
  display: none;
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.loadingScreenIsVisible {
  display: block;
}

.popupInner {
  padding: 50px;
}
