.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks,
.navLogo {
  list-style: none;
  li {
    display: inline;
    margin: 0 10px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
}
