.rc-slider .rc-slider-rail {
	position: absolute;
	width: 100%;
	background-image: linear-gradient(to right, #f4c14d, #d94454);
	height: 16px;
	border-radius: 2px;
}
.rc-slider .rc-slider-track {
	background: transparent;
	height: 8px;
}
.rc-slider .rc-slider-step {
	background: transparent;
	height: 8px;
}
.rc-slider .rc-slider-handle {
	position: absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
	cursor: -webkit-grab;
	margin-top: -8px;
	cursor: grab;
	border-radius: 50%;
	border: solid 8px #ffffff;
	background: transparent;
	touch-action: pan-x;
	box-shadow: 0px 0px 6px 4px rgba(119, 119, 119, 0.2);
}

.rc-slider-tooltip-inner {
	width: 128px;
	font-size: 14px;
	background: transparent;
	height: auto;
	padding: 0;
	box-shadow: none;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
	border-top-color: white;
	color: black;
}
